body {
  background-image: url(../imgs/background.png);
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#box {
  width: 80%;
  background-color: white;
  padding: 2em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
